/* line 3, ../sass/main.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/main.scss */
html {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3aa2e9), color-stop(100%, #83c3de));
  background-image: -webkit-linear-gradient(top, #3aa2e9, #83c3de);
  background-image: -moz-linear-gradient(top, #3aa2e9, #83c3de);
  background-image: -o-linear-gradient(top, #3aa2e9, #83c3de);
  background-image: linear-gradient(top, #3aa2e9, #83c3de);
}

/* line 11, ../sass/main.scss */
body {
  background: url("../images/placeholder.png") center center no-repeat;
  background-size: 305px 351px;
}

/* line 15, ../sass/main.scss */
h1 {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  display: none;
}
