.about {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/img/den.png");
  background-size: cover;
  text-shadow: 0 1px 1px black; }

@media screen and (min-width: 40em) {
  .about {
    height: 100vh; } }

.about a,
.about a:visited {
  text-decoration: underline; }

.about__mugshot {
  border-radius: 100%;
  max-width: 75%;
  margin: 2rem 0; }

@media screen and (min-width: 40em) {
  .about__mugshot {
    margin: 0; } }
