.cardHeading {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem; }

.card {
  background-color: white;
  color: #8a8a8a;
  margin-bottom: 1rem;
  text-align: center; }

.card__body {
  padding: 2rem;
  text-align: left; }

.card__title {
  font-family: "Spectral", serif;
  font-size: 1.5rem;
  text-align: center;
  color: #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 2rem; }

.card__body a,
.card__body a:visited {
  color: #3aa2e9;
  text-decoration: underline; }

.card__body a:hover,
.card__body a:visited:hover {
  color: #83c3de; }

.card__photo {
  margin: 0 0 1rem 0; }

.card__photo:last-child {
  margin: 0; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 0 0 1rem 0; }
