@import 'variables';

.intro {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro__title {
    font-family: $serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-size: 2.5rem;
}

.intro__subtitle {
    font-family: $serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-size: 1.25rem;
}

.intro-links__items {
    padding: 0 0.5rem;
    text-decoration: underline;
}