.navigation__list {
    text-align: right;
    border-bottom: 1px solid white;
    padding: 0.5rem 0;
}

.nav-list__item {
    margin-left: 1rem;
    font-size: 1rem;
    display: block;
}

@media screen and (min-width: 40em) {
    .nav-list__item {
        font-size: 1.25rem;
        display: inline-block;
    }
}

.home-link {
  position: absolute;
  background: url("/img/cookie.png") center center no-repeat;
  text-indent: -9999px;
  color: transparent;
  width: 40px;
  height: 40px;
  background-size: contain;
  margin: 10px 0;
}